#bild-überlap-ding{
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}

#bild-überlap-ding img {
    display: block;
    width: auto;
    height: 60%;
}

#bild-überlap-ding h1 {
    position: absolute;
    bottom: -100px;        /* Controls how much it overlaps */
    left: 5%;
    padding: 10px 20px;
    background-color: aliceblue;
    background-size:contain;
    font-size: 90px;
}
.haupt-sub {
    display: flex;
    flex-wrap: wrap;
}
.haupt-sub div {
    border: 2px solid;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 4px;
    padding-left: 6px;
    padding-bottom: 4px;
    padding-right: 6px;
    height: auto;
    width: 50vh;
}
.haupt-sub div h1 {
    border-bottom: solid 2px #696969;
}
.haupt-sub a {
    text-decoration: none;
    color: #000;
}


.haupt-sub div:hover {
  transform: scale(1.05);
}