#bild-überlap-ding{
    position: relative;
    display: inline-block;
}

#bild-überlap-ding img {
    display: block;
    width: 100%;
}

#bild-überlap-ding h1 {
    position: absolute;
    bottom: -15px;        /* Controls how much it overlaps */
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px 20px;
}
