.kontakt div img { /* Regeln für bilder auf der Kontakt seite */
    width: 25vh;
    height: 35vh;
}
.kontakt div button { /* Regeln für die knöpfe */
    width: 25vh;
    height:35vh;
}
.kontakt div button img { /* Regeln für die bilder in den Knöpfen */
    width: 100%;
    height: 100%;
}
.kontakt div { /* Regeln für die div an sich */
    background-color: antiquewhite;
    width: 400px;
    text-align: center; /* Text soll in der Mitte sein */
    padding: 5px;
    border: 2px solid #000; /* Kleine border, weils gut aussieht */
    margin: 5px;
    border-radius: 10px;
}
.kontakt div div {
    border:none;
    width: 390px;
}
.kontakt {
    display: flex;
    flex-direction: column;  /* mach es trotz flex vertikal */
    align-items: center;     /* Immer noch in die mitte packen (warum ist das bei divs immer so verdammmt schwer) */
    background-image: url(bg.jpg); /* den Hintergrund setzen (ändern wir vielleicht noch) */
}
body {
    background-color: aliceblue; /* genereller Hintergrund bei sachen wo das nicht extra angegeben wird */
}
.attraktion {
    display: flex; /* Alles in einem schönen grid artigem ding listen */
    flex-wrap: wrap; /* Wrap erlauben */
    z-index: 1; /* ich weiß nich mehr warum das hier ist */
}
.small {
    border: 2px solid;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 4px;
    padding: 6px;
    padding-right: 8px;
    height: 20vh;
    width: 40vh;
    display: flex; /* so machen, dass die elemente nebeneinander angezeigt werden */
    justify-content: center;
    /*overflow-x:scroll;*/ /* Das erlaubt ein fragwürdiges seitwärts scrollen */
}
.attraktion button {
    border:none;
    background-color: aliceblue;
}
/* Styl angaben für die kleine div bei attraktionen */
.small div {
    border-left:#000 solid 2px;
    padding-left: 10px;

}
.small h1 { /* H1 stylen */
    border-bottom: solid 2px #696969;
    text-align: right;
    width: 60%;
    text-wrap: wrap; /* Erlaubt damit es in die div passt */
}
.attraktion a {
    text-decoration: none; /* Links normal aussehen lassen? Ich weiß nicht mehr wieso */
    color: #000;
}
.small img {
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 25px;
    margin-right: 10px;
}

.attraktion button > div:hover {
  transform: scale(1.05) translateY(3%);
  cursor: pointer;
}
.big {
    border: 2px solid;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: aliceblue;
    margin: 4px;
    padding: 6px;
    padding-right: 8px;
    height: 60vh;
    width: 80vh;
    display: none;
    justify-content: center;
}
.big img {
    height: 90%;
    width: 50%;
    object-fit: cover;
    overflow-x: hidden;
}
.big div {
    width: 40vw;
    margin: 8px;
    padding:6px;
}
.big div h1 {
    border-bottom: #000 2px solid;
}
#disclaimer {
    margin: 30px;
    color: #000;
    text-align: center;
    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
    padding: 5px; 
}
#disclaimer p {
    width: 30vw;
    margin: 10px auto;
}
/* Das popup ist basically irrelevant */
#popup {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 90vh;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    background-color: #000;
    opacity: 0.5;
    top: 20px;
}
#popup div {
    opacity: 1;
}