#kontakt div img {
    width: 25vh;
    height: 35vh;
}
#kontakt div button {
    width: 25vh;
    height:35vh;
}
#kontakt div button img {
    width: 100%;
    height: 100%;
}
#kontakt div {
    background-color: antiquewhite;
    width: 400px;
    text-align: center;
    padding: 5px;
    border: 2px solid #000;
    margin: 5px;
    border-radius: 10px;
}
#kontakt div div {
    border:none;
    width: 390px;
}
#kontakt {
    display: flex;
    flex-direction: column;  /* stack children vertically */
    align-items: center;     /* horizontal centering */
}
body {
    background-image: url(bg.jpg);
}