#kontakt div img {
    width: 20%;
    height: 35vh;
}
#kontakt div button {
    width: 20%;
    height:35vh;
}
#kontakt div button img {
    width: 100%;
    height: 100%;
}
#kontakt div {
    background-color: antiquewhite;
}
#kontakt {
    background-image: url('bg.jpg') ;
}